/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Cor de fundo clara */
    color: #333; /* Cor do texto padrão */
    padding: 20px; /* Espaçamento nas laterais */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para o header */
}

.logo img {
    height: 50px;
    border-radius: 5px; /* Arredondar levemente as bordas da logomarca */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Cor do texto dos links */
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; /* Cor dos links no hover */
}

/* Estilo dos Blocos de Projeto */
.projBloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o bloco */
}

.projBloco:nth-child(even) {
    background-color: #f0f0f0; /* Alternar cor para os blocos pares */
}

.projHeader h1 {
    font-size: 2rem;
    color: #007bff; /* Cor dos títulos dos projetos */
    margin-bottom: 10px;
    padding: 10px 10px;
}

.projImagem img {
    width: 200px;
    height: auto;
    border-radius: 8px; /* Bordas arredondadas para as imagens */
    margin-right: 20px;
}

.projTexto {
    flex: 1;
    margin-left: 20px;
}

.projTexto p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
}
